.carousel-container {
    display: flex;
    width: 100%;
    height: 100%;
}
  
.info-column {  /*flex flex-col justify-start ml-24 mr-11 max-w-96 */
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 96px;
    margin-right: 44px;
    max-width: 420px;
}

.embla {
    flex: 0 0 60%;
    position: relative;
    overflow: hidden;
}

.embla-viewport {
    overflow: hidden;
    width: 100%;
}

.embla-container {
    display: flex;
    /*margin-right: 100px;*/
}

.embla-slide {
    position: relative;
    min-width: 35%;
    transition: transform 0.3s ease;
    margin-right: 80px;
}

.embla-slide img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.embla-slide--selected {
    transform: scale(1.2);
}

.embla-dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: 40px;
    right: 45%}

.embla-dots button {
    background-color: #d9d9d9;
    border: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.embla-dots button.active {
    background-color: #B88E2F;
}
  